ignore-dep-scripts true
save-exact=true
prefer-frozen-lockfile=true
minimum-release-age 131760
minimum-release-age-exclude[]=messageformat
minimum-release-age-exclude[]=@flemist/*
trust-policy no-downgrade

engine-strict=true
ignore-optional=true
resolution-mode=highest
public-hoist-pattern[]=@types*
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*babel*
public-hoist-pattern[]=*corejs*
public-hoist-pattern[]=*core-js*
public-hoist-pattern[]=!@types/*react*
